<a mat-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
  <mat-icon class="mat-icon-sm">person</mat-icon>
  <span fxShow="false" fxShow.gt-sm class="mx-1 uppercase">Conta</span>
  <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
</a>
<mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-menu-panel user-menu">
  <span (mouseleave)="userMenuTrigger.closeMenu()">
      <div fxLayout="row" fxLayoutAlign="start center" class="user-info">
          <img src="assets/imagens/geral/user.jpg" alt="user-image" width="50">
          <p *ngIf="!username"  class="m-0">Faça Login</p>
          <p  class="m-0">{{username}} <br> <small><i>{{email}}</i></small></p>
      </div>
      <div  class="divider"></div>
      <a *ngIf="username" mat-menu-item (click) = "logOut()">
          <mat-icon class="mat-icon-sm">power_settings_new</mat-icon>
          <span>Sair</span>
      </a>
  </span>
</mat-menu>
